* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.64;
  margin: 0;
  padding: 0;
}

.nav-link[data-check="profile"] {
  background-color: #118ab2;
}

/* CSSTransition classes  */
.menu-enter {
  height: 0;
}
.menu-enter-active {
  height: 300px;
  transition: height 500ms ease;
}
.menu-exit {
  height: 300px;
  transition: height 500ms ease;
}
.menu-exit-active {
  height: 0;
  transition: all 500ms ease;
}
